.info {
  /* autoprefixer grid: autoplace */
  display: grid;
  column-gap: clamp(15px, 2vw, 24px);
  // row-gap: clamp(15px, 2vw, 20px);

  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);

  @media screen and (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  &__images {
    display: grid;
    column-gap: clamp(15px, 2vw, 24px);
    row-gap: clamp(15px, 2vw, 20px);

    div:first-of-type {
      grid-area: w1;
    }

    div:nth-of-type(2) {
      grid-area: w2;
    }

    div:nth-of-type(3) {
      grid-area: w3;
    }

    grid-template-areas:
      'w1'
      'w2'
      'w3';

    @media screen and (min-width: 426px) {
      grid-template-areas:
        'w1 w2'
        'w1 w3';
    }
  }
}
