@import '@styles/components/latest.less';

.latest {
  padding-top: clamp(14px, 10vw, 116px);
  padding-bottom: clamp(22px, 15vw, 186px);

  color: @light;

  &__cards {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    @media screen and (min-width: 426px) and(max-width:768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
    }

    @media screen and (min-width: 769px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
  }
}
