@primary: #cf1430;
@secondary: #c2c2c2;
@light: #ffffff;
@lightestGray: #f0f0f0;
@dark: #0e1414;
@info: #0d97d1;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('~@assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('~@assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('~@assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

/* clamp(MIN, VAL, MAX) <==> max(MIN, min(VAL, MAX)) */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: clamp(14px, 3vw, 16px);
  font-family: 'Open Sans', sans-serif;
  background-color: @dark;
}

img {
  width: 100%;
  // TODO: can't remove the height for responsive layout, yet slight image height discrepancy occurs
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 calc((100vw - 1200px) / 2);
}

section {
  padding: 0 clamp(0px, calc(1200px - (1200vw / 1440) * 100), 25px);
}
