@primaryColor: #f2682e;
@secondaryColor: #f2682e;
@linkHover: #0d97d1;
@textColorLightest: #e7e9ec;
@textColorLightest: #e7e9ec;
@textColorLightGray: #c6c6c6;
@textColorGray: #8b8b8b;
@textColorDarkGray: #727272;
@textColorDark: #494949;
@textColorDarker: #2e2e2e;

/* clamp(MIN, VAL, MAX) <==> max(MIN, min(VAL, MAX)) */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-size: clamp(14px, 2.5vmin, 16px);
}
h1 {
  font-size: clamp(1.75rem, 5vmin, 2.5rem);
}
h2 {
  width: 100px;
  padding: 10px;
  font-size: clamp(1.5rem, 4vmin, 2rem);
}
h3 {
  font-size: clamp(1.2rem, 3.5vmin, 1.75rem);
}
h4 {
  font-size: clamp(1rem, 3vmin, 1.125rem);
}
h5 {
  font-size: clamp(0.75rem, 2vmin, 0.875rem);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 80px calc((100vw - 1180px) / 2);
}

section {
  padding: 0 2.5vw;
}
